.projectContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectContainerReverse {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectInfo {
    width: 500px;
    padding: 30px;
}

.projectTitle {
    margin: 0;
    font: 18px 'Inconsolata', monospace;
    color: #383737;
}

.description {
    margin-top: 5px;
    font: 14px 'Inconsolata', monospace;
}

.technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tech {
    font: 12px 'Inconsolata', monospace;
    margin: 2px 4px 2px 0;
    color: thistle;
    border: 1px solid thistle;
    padding: 4px;
    border-radius: 3px;
}

.photo {
    border-radius: 5px;
    width: 550px;
    height: 270px;
    border: 2px solid white;
}

.hovered {
    border: 2px solid thistle;
}

.github {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars {
    margin-left: 4px;
    margin-right: 4px;
    cursor: text;
}