.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImage {
    margin: 50px auto 15px auto;
}

.name {
    background-color: #383737;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}