.navigation {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.navDiv {
    display: flex;
    align-items: center;
}


.navigationItem {
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}

.icon {
    margin-left: 15px;
    margin-right: 10px;
    width: 12px;
    height: 14px;
}

.invert {
    filter: invert(100%);
}

.strong { 
    font-weight: 650;
}