.root { 
    margin-top: 50px;
    justify-content: center;
    flex-grow: 1;
    background-color: white;
    display: flex;
    height: 224;
}

.tabContentContainer {
    text-align: left;
}

.title {
    font-weight: bold !important;
    font: 18px 'Inconsolata', monospace;
    color: #383737;
}

.tabs {
    height: 100px;
    border-right: 1px solid black;
}

.employerLink {
    text-decoration: none;
    font-weight: bold !important;
    font: 18px 'Inconsolata', monospace;
    color: #383737;
}

.jobDetails {
    padding-top: 4px;
    list-style: none;
    width: 750px;
}

.jobDetails li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

