.App {
  scroll-behavior: smooth;
}

.contentContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentTitle {
  font: 22px 'Inconsolata', monospace;
  color: #383737;
  position: absolute;
  margin-left: 40px;
  margin-top: 5px;
}