.App {
  scroll-behavior: smooth;
  background: url('./mojave.png') no-repeat center center fixed;
  height: 100vh;
}

.desktopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
}

.contentContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentTitle {
  font: 22px 'Inconsolata', monospace;
  color: #383737;
  position: absolute;
  margin-left: 40px;
  margin-top: 5px;
}